:root {
--color-primary-0 : #A7FFCA ; /* Main Primary color */
--color-primary-1 : #FFFFFF ;
--color-primary-2 : #E4FFEF ;
--color-primary-3 : #77FFAE ;
--color-primary-4 : #4AFD92 ;

--color-secondary-1-0 : #ABE6FF ;
--color-secondary-1-1 : #FFFFFF ;
--color-secondary-1-2 : #E6F7FF ;
--color-secondary-1-3 : #7DD8FF ;
--color-secondary-1-4 : #52C9FD ;

--color-secondary-2-0 : #D7FFA7 ;
--color-secondary-2-1 : #FFFFFF ;
--color-secondary-2-2 : #F3FFE4 ;
--color-secondary-2-3 : #C2FF77 ;
--color-secondary-2-4 : #ADFE4A ;
 

}   

body { 

}    

@keyframes test{

	from { background-color: white;}
	to{ background-color: black;}
}

.about { 
  text-align:center;
}

.navbar.navbar-brand a{
    font-size:6em;
}


.primary-bar { 
   position:relative; 
   height:3.5em;
   line-height:3.5em;
   text-align:center;
   font-size:6em;
   color:var(--color-secondary-2);
}

@keyframes flyleft {
   from{right:-1200px;}
   to{right:0px;}
}

@keyframes flyright{
   from{left:-1200px}
   to{left:0px}
}
.about {
   position:relative; 
   animation-name:flyleft;
   animation-duration:2s; 
}
.projects{ 
   position:relative; 
   animation-name:flyright;
   animation-duration:2s; }


