:root {

}   


body { 

}    


.namecard h1 {
    color:#222222;
    text-align:left;
    line-height:0.7em;
}

.maincontent {
    background-color:#DDDDDD;
}

.namecard h2 {
    color:#999999;
    text-align:left;
    line-height:0em;
    font-size:1.6em;
    margin-bottom:1.1em;
}

.namecard h3 a{
    font-size:0.3em;
    color:#999999;
    text-align:left;
}

.namecard h3 {
    text-align:left;
    line-height:0;
}

.about { 
  font-size:1.5em;
  text-align:center;
}

.cust-nav{
    margin-top:1em;
    color:#666666;
}

.cust-nav-link {
    margin-top:1.5em;
}

.cust-nav-link a{ 
    font-size: 2em;
    color:#666666;
}

.cust-nav-link a:hover{
    text-decoration:none;
    color:#999999;
    
}

.bgholder {
    background-image:url("img/testbackground.jpg");
}

.primary-bar { 
    margin-top:200px;
   position:no-repeat; 
   height:3.5em;
   line-height:3.5em;
   text-align:center;
   font-size:6em;
   color:#FFFFFF;
}

@keyframes flyleft {
   from{right:-1200px;}
   to{right:0px;}
}

@keyframes flyright{
   from{left:-1200px}
   to{left:0px}
}
.about {
    color:#FFFFFF;
   position:relative; 
   animation-name:flyleft;
   animation-duration:2s; 
   margin-bottom:200px;
}
.projects{ 
   position:relative; 
   animation-name:flyright;
   animation-duration:3s;
   margin-bottom:5em; 
   
   }

.cust-foot{
   height:10em;
   background-color:#222222;
   color:#DDDDDD;
}

.cust-foot-cont{
    margin-top:4em;
}
.cust-foot-link {
  text-align:center;
    
}
.cust-foot-link a {
   color:#DDDDDD;
}

.cust-foot-link a:hover{
   background-color:#222222;
   color:#FFFFFF; 
}



