:root {

}   


body { 

}    

#headercanvas {
    position:absolute;
    width:100%;
    height:1000px;
    padding:0;
    margin:0;
    margin-top:0px;
    margin-bot:0px;
}

.namecard h1 {
    color:#000000;
    text-align:left;
    line-height:0.7em;
}

.maincontent {
    background-color:#DDDDDD;
}

.namecard h2 {
    color:#000000;
    text-align:left;
    line-height:0em;
    font-size:1.6em;
    margin-bottom:1.1em;
}

.namecard h3 a{
    font-size:0.3em;
    color:#000000;
    text-align:left;
}

.namecard h3 {
    text-align:left;
    line-height:0;
}

.about { 
    font-size:1.5em;
    text-align:center;
}

.cust-nav{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    color:#666666;
    
    top:0px;
}

.cust-nav-link {
    margin-top:1.5em;
}

.cust-nav-link a{ 
    font-size: 2em;
    color:#666666;
}

.cust-nav-link a:hover{
    text-decoration:none;
    color:#000000;
}

.bgholder {
    margin:0;
    padding:0;
    width:100%;
    height:707000;
}

.primary-bar { 
    height:3.5em;
    line-height:3.5em;
    text-align:center;
    font-size:6em;
    color:#000000;
}

@keyframes flyleft {
    from{right:-1200px;}
    to{right:0px;}
}

@keyframes flyright{
    from{left:-1200px}
    to{left:0px}
}
.about {
    color:#000000;
    position:relative; 
    animation-name:flyleft;
    animation-duration:2s; 
    margin-bottom:200px;
}
.projects{ 
    position:relative; 
    animation-name:flyright;
    animation-duration:3s;
    margin-bottom:5em; 

}

.cust-foot{
    height:10em;
    background-color:#222222;
    color:#DDDDDD;
}

.cust-foot-cont{
    margin-top:4em;
}
.cust-foot-link {
    text-align:center;

}
.cust-foot-link a {
    color:#DDDDDD;
}

.cust-foot-link a:hover{
    background-color:#222222;
    color:#FFFFFF; 
}

